*{
    box-sizing: border-box;
    margin: 0;
     padding: 0;
}
html 
{
    font-size: 60% ; /* 1 rem= 10px*/
}
body{
    height: 100%;
    font : 1.6rem Helvetica ,arial;
     margin: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #203040;

}
header a:hover{
    color: orangered;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
header a{
    color: white;
    font-weight: bold;
}
header,footer{
    padding: 20px;
}
.brand a{
    font-size: 3rem;

}
.products{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
   gap: 40px;
   padding: 0;
   margin: 0;
}
main{
    flex: 1;
   

}
img {
     width: 100%;
    height: 100%;
    
}

footer{
    background-color: black;
    color: white;
    margin-bottom: 0%;
    text-align: center;
    flex: 0 0 auto;
}
 .products li{
    flex: 0 1 30rem;
    margin: 1rem; 
    margin-bottom:  0;
    height: 42rem;
    border-top: 0.2rem whitesmoke;

}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.product img{
    max-height: 26rem;
    max-width: 22rem;
    margin-top: 2rem;
}
.product-name{
    line-height: 2.2rem;
}
.product-brand{
    font-size: 1.2rem;
    color: orangered;
}
.prodct-price{
    font-size: 2rem;
}
.image-container {
    position: relative;
    overflow: hidden;
    width: 300px;  /* Change as needed */
    height: 300px; /* Change as needed */
}
  .image-container:hover {
    transform: scale(1.3); /* Adjust the scale factor as needed */
      transition: transform 1s ease;;
}
.error-container {
  padding: 40px 0px;
  width: 850px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
img {
  height: 350px;
}
button {
  background-color: #6c63ff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
  /* text-transform: uppercase; */
  padding: 10px;
  outline: none;
  border: none;
  
}


@media (max-width: 360px) {
  .error-container {
    padding: 40px 0px;
    width: 300px;

    gap: 10px;
  }
}
@media (max-width: 780px) {
  .error-container {
    padding: 40px 0px;
    width: 300px;

    gap: 20px;
  }
}
@media (max-width: 480px) {
  .error-container {
    padding: 80px 0px;
    width: 300px;

    gap: 20px;
  }
}
@media (max-width: 240px) {
  .error-container {
    padding: 80px 0px;
    width: 300px;

    gap: 20px;
  }
}
